.alert {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f8d7da;
  color: #721c24;
  justify-content: space-around;
}

.alert img {
  height: 10rem;
  margin-right: 0.5rem;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert p {
  margin: 0;
  color: rgb(70, 125, 119);
  font-size: 1.5rem;
  font-weight: 600;
}
